<% form_for([ @account, @authentication_code ]) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :hash_code %><br />
    <%= f.text_field :hash_code, :value => @authentication_code.hash_code %>
  </p>
  <p><a class="submit whiteButton">Submit</a></p>
<% end %>
