<% title "New Web App" %>

<div class="info subcontent">

  <%= render :partial => 'form', :rel => "_ajax" %>

  <p><%= link_to "Back to List", web_apps_path, :class => "button bottom row", :rel => "_ajax" %></p>

  <div class="clear"></div>

</div>
