<% title "Edit #{@user.username}" %>

<div class="info subcontent">
  <%- @user.password = @user.password_confirmation = nil -%>
  <%= error_messages_for :user %>
  <%= render :partial => 'form' %>
</div>
