<% title "Edit Account" %>

<div class="info subcontent">
  <%= render :partial => 'form', :rel => "_ajax" %>

  <p>
    <%= link_to "Show", @account, :class => "button bottom", :rel => "_ajax" %>
    <%= link_to "View All", accounts_path, :class => "button bottom", :rel => "_ajax" %>
  </p>
  <div class="clear"></div>
</div>