<% title "New Account" %>

<div class="info subcontent">
  <%= render :partial => 'form', :rel => "_ajax" %>
  <p><%= link_to "Back to List", accounts_path, :class => "button bottom", :rel => "_ajax" %></p>
   <div class="clear"></div>
</div>
